[user]
	name = Markus Perdrizat
	email = maol@symlink.ch
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = vim
[alias]
	st = status
	lg = log --oneline --graph --decorate
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
